<div class="row">
	<div class="col-md-12">
  		<%= image_tag "Statica_RGB_Color_ForDarkBackground.png" %>
	</div>
	</div>
<div class="row">
	<div class="col-md-12">
		<h1>Welcome to Bluemix integrated with Statica!</h1>
		<h2>This Ruby on Rails application is powered by Ruby <%= @ruby_version%> on Rails <%= @rails_version%>.</h2>
	</div>
</div>
<% if @non_static_result == @static_result %>
<div class="row">
<div class="col-md-12">
<div class="alert alert-danger">
<h1>Uh-oh - you're not setup correctly</h1>
<p>Both IP addresses match which means you aren't sending traffic via Statica. If you have cloned this repo have you also added Statica to your Bluemix application and bound it to your running instance?</p> 
</div>
</div>
<% end %>
<div class="row">
	<div class="col-md-6">
		<h2>Bluemix IP</h2>
		<%= image_tag "newapp-icon.png" %>
		<p class="lead">Your current Bluemix IP is: <strong><%= @non_static_result %></strong>.</p>		
		</div>
	<div class="col-md-6">
		<h2>Statica IP</h2>
		<%= image_tag "logo_dark.png" %>
		<p class="lead">Sending traffic through Statica your IP is: <strong><%= @static_result %></strong>.</p>		
	</div>
</div>